* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.streetview {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/streetview.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1 {
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 1.8em;
  letter-spacing: 6px;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.concert-lights {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(assets/maximilian-zahn-lljb38yaLPY-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  font-size: 1.7em;
  letter-spacing: 3px;
  margin-bottom: 3vh;
}

p {
  letter-spacing: 2px;
  font-size: 1.2em;
  line-height: 1.5;
}
.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: gainsboro;
  color: white;
  height: 40%;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.paragraph-1 {
  display: flex;
  align-items: flex-start;
  height: 50vh;
  color: white;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  font-size: 1.5em;
}


.new-york-city {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(assets/skyline.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: black;
  color: white;
  height: 40%;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.paragraph-2 {
  display: flex;
  align-items: flex-start;
  height: 50vh;
  color: white;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  font-size: 1.5em;
}

.reminiscing {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(assets/reminiscing.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: black;
  color: white;
  height: 40%;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.paragraph-3 {
  display: flex;
  align-items: flex-start;
  height: 50vh;
  color: white;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  font-size: 1.8em;
}

.malaysia {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/malaysia.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-5 {
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 1.8em;
  letter-spacing: 5px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

h2 {
  font-weight: 545;
}

